@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

.Bree {
    font-family: 'Bree Serif', serif;
}
.Roboto {
    font-family: 'Open Sans', sans-serif;
}
.heads {
    background-color: rgb(3, 155, 3);
}

/* #resume-form{
    display: none;
} */

#resume-tamplate{
    display: none;
}
.background{
    background-color: rgb(50,59,76);
}